<html>
  <head>
    <title>{{name}}</title>
      <!-- 引入样式 -->
      <link rel="stylesheet"
            href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">

  </head>
  <body>
  {% for config in sources %}
    {% if config.template %}
    {% set map = {'tpl_id': config.CONFIG_ID } %}
    {% include config.template with map %}
    {% endif %}
  {% endfor %}
{#     <template id="input1-121212121-tpl"><input type="password"></template>#}
     {% verbatim %}
     <div id="app">
     <s-container></s-container>
</div>
     {% endverbatim %}
     <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.1.2/vue.global.js"></script>
     <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>


{#     <script type="module" src="/getscript?id={{ random() }}"></script>#}
     <script type="module" >
         // import { createApp } from "vue"
         // import ElementPlus from "https://unpkg.com/element-plus/lib/index.esm.js"
         const { createApp } = window.Vue

         Promise.all(
[
    {% for config in sources %}import("/getscript?src={{ config.src }}&id={{ config.CONFIG_ID }}"){% if loop.last == false %}
  ,{% endif %}{% endfor %}
]
         ).then(jsmodules => {
           const Counter = {
             data() {
               return {
                 obj: {
                   counter: 0
                 }
               }
             }
           }

           const app = createApp(Counter)

           app.config.devtools = true;
           app.use(window.ElementPlus)
           jsmodules.forEach(jsmodule => {
             app.use(jsmodule.default)
           })
           app.mount('#app')
           window.app = app
         })
     </script>
  </body>
</html>
