<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile</title>
  {# <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vant@next/lib/index.css"
/> #}
  <!-- UNPKG -->
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vue-router@next"></script>
{#  <script src="/public/vue3-sfc-loader.js"></script>#}
  <script src="https://unpkg.com/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
  {# <script src="https://cdn.jsdelivr.net/npm/vant@next/lib/vant.min.js"></script> #}
  <script src="/public/element-plus.js"></script>
        <link rel="stylesheet"
            href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
      <link rel="stylesheet" href="/getstyle?src=styles/app.scss">
</head>
<body>


  <template id="app-tpl">
    <nav>
      <router-link class="el-link" to="/">Go to Home</router-link>
      <router-link class="el-link" to="/about">Go to About</router-link>
    </nav>

      <router-view></router-view>
  </template>
  <div id="app"></div>
    <script type="module">
      import { moduleConfig } from '/public/vue-bs-loader.js'
      globalThis.moduleConfig = moduleConfig
    </script>
    <script type="module">
    import '/getremote?src=container.twig&def=window.ssrComponents'
    import '/getremote?src=about.twig&def=window.ssrComponents'

    const routes = [
      { path: '/', component: window.loadComponent('container.vue') },
      { path: '/about', component: window.loadComponent('about.vue') },
    ]

    const router = VueRouter.createRouter({
      // 4. Provide the history implementation to use. We are using the hash history for simplicity here.
      history: VueRouter.createWebHashHistory(),
      routes, // short for `routes: routes`
    })


    const app = Vue.createApp({
      template: document.getElementById('app-tpl')
    });
    app.config.devtools = true
    app.use(globalThis.shadow)
    app.use(window.ElementPlus)
    app.use(globalThis.moduleConfig)
    app.use(router)
    app.mount('#app');
    globalThis.app = app

  </script>
{#  <script src="https://unpkg.com/es-module-shims@0.12.1/dist/es-module-shims.js"></script>#}

</body>
</html>
