{% import "./macros/formGroup.twig" as formGroup %}

<template>
<div>
  {% verbatim %}
   <div>{{state}}</div>
   <div>{{computedState}}</div>
{% endverbatim %}

    <el-form :model="model" >
        {{ formGroup.renderSet("config.row.properties", "model", 1,2, 'el-col', 'template') }}
    </el-form>
</div>
</template>

<script type="module">
import { formModel } from 'http://localhost:7002/public/expose/main.js';

export default {
  props: {
    modelValue: null,
  },
  emits: [
    'model:update',
  ],
  mounted() {
    this.$emit('init', this);
  },
  setup(props, { emit }) {
    const { ref, reactive, watch } = global.Vue;
    const tableData = ref([]);

    const config = JSON.parse(`{{source}}`);

    const obj = formModel.createFormModel(config.row);

    let computed = {}
    for (let key in config.computed) {
      computed[key] = new Function('model', `
        function GET(v, defaultVal) {
          return ZY.lodash.get(model, v, defaultVal)
        }
        return () => ${config.computed[key]}
      `)
    }

    const ret = global.storeApp.run(config.service, 'initModel', {
      plain: obj,
      computed
    })
    console.log('ret', config, ret)

    const model = ret.model

    watch(model, newVal => {
      // console.log('model.content', newVal)
      emit('model:update', newVal);
    });

    return {
      config,
      model,
      tableData,
      state: ret.model,
      computedState: ret.computedModel
    };
  },
};
</script>
