<template>
  <div class="about">
  {% verbatim %}
    <h3>{{msg}}</h3>
  {% endverbatim %}
<ul ref="h1Dom">
  {% for i in source.testArr %}
    <li>{{ i }}</li>
{% endfor %}
</ul>
  </div>
</template>
<script>
export default {
  name: 'FormBuild',
  setup(props, ctx) {
    const { onMounted, ref, getCurrentInstance } = global.Vue
    const internalInstance = getCurrentInstance()
    let msg = ref('')
    let h1Dom = ref(null);

    console.log(internalInstance)

    onMounted(() => {
      msg.value = 'about'
      console.log(
      internalInstance.appContext.config.globalProperties.$alConfig.get('sdsdsdddddddddddddd')
      )
    })

    return {
      msg,
      h1Dom
    }
  },
};
</script>

{% if config %}
<config>{{ config }}</config>
{% endif %}

<style>
</style>
