{% import "../macros/formGroup.twig" as formGroup %}
<el-form-item :prop="getProp(pathArr)"
              :x-path="formPath"
              v-bind="ui ? ui.form_item : {}"
{#              :label="getLabel()"#}
              :rules="rules"
>
{#  {% verbatim %}{{ {% endverbatim %}rules{% verbatim %} }}{% endverbatim %}#}
    <template v-slot:label="scope"><div class="cm-filed__label"><slot name="cmfield_label_afterbegin"></slot>
            {% verbatim %}{{ {% endverbatim %}getLabel(){% verbatim %} }}{% endverbatim %}
            <slot name="cmfield_label_beforeend"></div></slot>
    </template>
{#{% verbatim %}{{ {% endverbatim %} ui {% verbatim %} }} {% endverbatim %}#}
    {{ formGroup.formItem("value") }}
  <div class="cm-filed__desc"><slot name="cmfield_desc_afterbegin"></slot>
    {% verbatim %}{{ {% endverbatim %}getDesc(){% verbatim %} }}{% endverbatim %}
    <slot name="cmfield_desc_beforeend"></div>
</el-form-item>
